


  <!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/">
    <img class="navbar-brand" href="/" src="../Assets/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
        <% if (title == "Home"){ %>
          <a class="nav-link active" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home </a>
        <% } else { %>
          <a class="nav-link" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home </a>
        <% } %>
        </li>
        
        <li class="nav-item active">
        <% if (title == "About"){ %>
          <a class="nav-link active" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About </a>
        <% } else { %>
          <a class="nav-link" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About </a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == "Projects"){ %>
          <a class="nav-link active" href="/projects"><i class="fa-solid fa-bars"></i> Projects </a>
        <% } else { %>
          <a class="nav-link" href="/projects"><i class="fa-solid fa-bars"></i> Projects </a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == "Services"){ %>
          <a class="nav-link active" href="/services"><i class="fa-solid fa-lg fa-gears"></i> Services </a>
        <% } else { %>
          <a class="nav-link" href="/services"><i class="fa-solid fa-lg fa-gears"></i> Services </a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if (title == "Contact"){ %>
          <a class="nav-link active" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact </a>
        <% } else { %>
        <a class="nav-link" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact </a>
        <% } %>
        </li>
        </ul>
    </div>
</nav>