<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- About Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"> About </h1>
  </div>

  <a class="btn btn-primary hero-about-btn" href="./Assets/resume.pdf" role="button" target="_blank">Resume</a>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>