<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- About Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"> About </h1>
  </div>

  <br>

  <div class="card-2">

  <div class="profile">
    <img src="../Assets/images/delicia.jpeg" class="img-circle" alt="profile">
  </div>

  <div class="about-me">
    <h2> Delicia Lisha D Souza </h2>
    <p> I am currently studying in Centennial College for the Artificial Intelligence Fast-Track Program. Previously, I have studied in Middlesex University for Bachelors of Science in Information Technology. I have always had a keen interest in programming which is why I chose my background in IT. </p>
  </div>

  <div class="resume-btn">
    <a class="btn btn-primary hero-about-btn" href="./Assets/resume.pdf" role="button" target="_blank">Resume</a>
  </div>

  </div>
</main>

<br>
<br>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>