<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"> Portfolio </h1>
  </div>

<br>

<div class="card-1">

  <div class="welcome-msg">
    <h2> Welcome to my Page! </h2>
    <p> In this portfolio, you will be learning more about me as well as some of my projects that I have done in the past and the services that I provide. </p>
  </div>

  <div class="mission">
    <h2> Mission Statement </h2>
    <p> My mission is to provide various services related to programming to the clients as well help clients in meeting their requirements and ensuring their goals have been met.
  </div>

  <a class="btn btn-primary" id="about-btn" href="/about" role="button">About Me</a>

  <img class="logo" src="../Assets/images/logo.png" alt="logo">
</div>

</main>

<br>
<br>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>


