  <%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Projects </h1>
    </div>

  <br>

    <div class="project-row">

      <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/smart_house.jpg" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Smart House </h5>
      <p class="card-text">The Smart House project was done using Arduino. The project was based on child safety. Components such as sensors, servo, LDR and ultrasonic sensors were used for this project.</p>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/ecommerce.png" class="card-img-top" alt="project 2" style=" height: 370px">
    <div class="card-body">
      <h5> Ecommerce Website </h5>
      <p class="card-text">The Ecommerce Website project was done using php and mongodb. The project was based on an online game store. It consisted of functions such as login/registration, profile, add to cart, order history, recommender system, sorting. All customer details and products were stored in a database.</p>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/restaurant.png" class="card-img-top" alt="project 3" style=" height: 370px">
    <div class="card-body">
      <h5> Web Extraction </h5>
      <p class="card-text">The project was done using python. The project was based on restaurant safety. The main function of the website are login/registration, data extraction and user reviewing.</p>
    </div>
  </div>
    
    </div>

      <br>
        <br>

  </main>

  <%- include partials/bottom_nav.ejs %>

  <%- include partials/footer.ejs %>