<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Services </h1>
    </div>

    <br>

    <!-- services section -->

    <div class="project-row">

    <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/web-development.png" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Web Development </h5>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/mobile-app.jpg" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Mobile App Development </h5>
    </div>
  </div>

    <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/arduino.png" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Arduino </h5>
    </div>
  </div>
    </div>

    <br>
    <br>

    <div class="project-row">
          <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/java.jpg" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Java Applications </h5>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/ux.png" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> User Experience/ User Interface </h5>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="../Assets/images/data-analytics.jpg" class="card-img-top" alt="project 1">
    <div class="card-body">
      <h5> Data Analytics </h5>
    </div>
  </div>
    </div>


</main>

<br>
<br>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>