/* 
  File name: COMP229_assignment
  Student Name: Delicia
  Student id: 301294501
  Date: 30th September 2022
*/

/* Common CSS */
.display-4 {
  text-align: center;
}

/* 
  File name: COMP229_assignment
  Student Name: Delicia
  Student id: 301294501
  Date: 30th September 2022
*/

.navbar-brand {
  width: 40px;
  height: 40px;
}

/* Home page */
.welcome-msg {
  width: 350px;
  position: absolute;
  left: 750px;
  top: 200px;
  text-align: justify;
  text-justify: inter-word;
}

.mission {
  width: 350px;
  position: absolute;
  left: 750px;
  top: 350px;
  text-align: justify;
  text-justify: inter-word;
}

#about-btn {
  position: absolute;
  top: 530px;
  left: 890px;
}

.logo {
  width: 318px;
  height: 420px;
  position: absolute;
  bottom: 170px;
  right: 850px;
}

.card-1 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 800px;
  height: 420px;
  padding: 50px;
  margin: auto;
}

/* About page CSS */

.img-circle {
  width: 250px;
  height: 300px;
  position: absolute;
  /*left: 280px;
  top: 100px;*/
  left: 400px;
}

.about-me {
  width: 500px;
  position: absolute;
  /*left: 600px;
  bottom: 150px;*/
  left: 700px;
  text-align: justify;
  text-justify: inter-word;
}

.resume-btn {
  position: absolute;
  left: 900px;
  top: 450px;
}

.card-2 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 960px;
  height: 400px;
  padding: 50px;
  margin: auto;
}

/* Projects and services page CSS */

.card-3 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 5px;
  margin-left: 110px;
}

.card-text {
  text-align: justify;
  text-justify: inter-word;
}

.project-row {
  display: flex; 
}

/* Contact css */

.contact-card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
}










